* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f008;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart {
    appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    background-color: #fff;
    transform: rotate(45deg);
}

#heart:checked {
    background-color: #f00;
}

#heart::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: 0px;
    left: -40px;
    border-radius: 50%;
}

#heart::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -125px;
    right: 0;
    border-radius: 50%;
}

#heart:checked:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f00;
    top: 0px;
    left: -40px;
    border-radius: 50%;
}

#heart:checked:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f00;
    top: -125px;
    right: 0;
    border-radius: 50%;
}